{% extends 'base.html' %}

{% block content %}
    <h1>Landing page</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugit ipsam quaerat saepe. Ad, adipisci animi beatae cum est excepturi itaque minima nam nostrum perspiciatis quaerat quo temporibus unde. Doloribus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugit ipsam quaerat saepe. Ad, adipisci animi beatae cum est excepturi itaque minima nam nostrum perspiciatis quaerat quo temporibus unde. Doloribus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A fugit ipsam quaerat saepe. Ad, adipisci animi beatae cum est excepturi itaque minima nam nostrum perspiciatis quaerat quo temporibus unde. Doloribus.
    </p>
{% endblock %}